@tailwind base;
@tailwind components;

.btn {
  @apply rounded-full py-2 px-9 mx-auto;
  filter: drop-shadow(0px 2px 7px rgba(255, 255, 255, 0.25));
}
.btn:first-child {
  margin-top: 2rem;
}
.btn:not(:last-child) {
  margin-bottom: 2rem;
}

.form-bg {
  @apply flex flex-col w-1/2 items-center text-2xl text-center;

  height: 85%;
  justify-content: center;
  border: white solid 5.17px;
  border-radius: 1.5rem;
  background-color: #282828;
  box-shadow: 0px 0px 6px 2.5px rgba(255, 255, 255, 1);
}

.nav {
  @apply flex justify-between;

  background-color: #282828;
}

@tailwind utilities;

/* @font-face {
  font-family: "FolkPro-Heavy";
  src: url("/font/a-otf-folkpro-heavy-webfont.woff");
} */

input {
  width: 78%;
}

body {
  background-color: #040612;
}
input[type="text"],
input[type="password"] {
  font-size: inherit;
}

input:focus-visible {
  outline: none;
}

.form-submit {
  background-color: #ffcb00 !important;
  color: #040612;
}
