@tailwind base;
@tailwind components;

.btn {
  @apply rounded-full py-2 px-9 mx-auto;
  filter: drop-shadow(0px 2px 7px rgba(255, 255, 255, 0.25));
}
.btn:first-child {
  margin-top: 2rem;
}
.btn:not(:last-child) {
  margin-bottom: 2rem;
}

.content-container {
  @apply container flex mx-auto items-center;
  margin-top: calc(42px + 2.5rem);
  height: calc(100vh - (42px + 2.5rem));
}

.form-bg {
  @apply flex flex-col w-1/2 items-center text-2xl text-center;

  height: 85%;
  justify-content: center;
  border: white solid 5.17px;
  border-radius: 1.5rem;
  background-color: #282828;
  box-shadow: 0px 0px 6px 2.5px rgba(255, 255, 255, 1);
}

.nav {
  @apply flex justify-between;
  padding: 1.25rem 4rem;
  background-color: #282828;
  position: fixed;
  top: 0;
  width: 100%;
}

.signup-header {
  @apply text-white font-bold text-7xl;
  letter-spacing: 1.53125rem;
}

@tailwind utilities;

/* @font-face {
  font-family: "Bebas Neue", cursive;
  src: url("./fonts/BebasNeue-Regular.ttf") format("ttf");
} */
* {
  font-family: "Bebas Neue", cursive;
}

body {
  background-color: #040612;
}

input {
  width: 78%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
}

input[type="text"],
input[type="password"] {
  font-size: inherit;
}

input:focus-visible {
  outline: none;
}
li a {
  font-size: 1.5rem;
}
#root {
  position: relative;
}
.form-submit {
  background-color: #ffcb00 !important;
  color: #040612;
}
.logo {
  width: 42.33px;
}
.signup-text {
  letter-spacing: 0.2rem;
}
